<ion-card [ngClass]="{'on':lightBulb.parameters.on}">
    <ion-card-header (click)="toggleLightBulb()">
        <ion-card-subtitle>{{ lightBulb.type }}</ion-card-subtitle>
        <ion-card-title>{{ lightBulb.name }}</ion-card-title>
    </ion-card-header>
    <ion-list>
        <ion-item>
            <ion-range [disabled]="!lightBulb.parameters.on" min="0" max="100" step="5" [value]="lightBulb.parameters.intensity">
                <ion-icon size="small" slot="start" name="sunny"></ion-icon>
                <ion-icon slot="end" name="sunny"></ion-icon>
            </ion-range>
        </ion-item>
    </ion-list>
</ion-card>